<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="slide-bar" id="slidebar">
            <div class="bar" id="bar"></div>
        </div>
        <div class="text-block" id="textone">
            <h1>CODEPEN</h1>
        </div>
        <div class="text-block" id="texttwo">
            <h1>CHALLENGE</h1>
        </div>
    </div>

    <button id="changeBtn">&nbsp;</button>
</body>
</html> -->